/* Dashboard Styling */
.dashboardContainer{
    margin-top: 50px;
}

.dashboardTitle{
    margin-left: 10%;
}

.displayExpenses{
    display: flex;
    flex-direction: row;
    gap:15%;
    margin-top: 20px;
}

.overviewContainer{
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;;
    justify-content: space-evenly;
    align-items: center;

}

.spendingStatus{
    display:flex;
    flex-direction: column;
    gap: 10%;
    width: 500px;
    margin-top: 20px;
}

/* Dropdown Styling */
.expenseOverviewForm{
    display: flex;
    flex-direction: row;
    gap: 30px;
    border-radius: 5px;
    border-style: outset;
    border-color: lightgray;
    padding: 20px;
}

.yearDropDown{
    display: flex;
    flex-direction: column;
}

.monthDropDown{
    display: flex;
    flex-direction: column;
}

.generateForm{
    width: 150px;
    height: 40px;
    background-color: #4169E1;
    color: white;
    border-radius: 5px;
}


/* Total Spending Styling */
.totalSpendingContainer, .dailyAverageContainer{
    border: 2px solid #D8D8D8;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 250px;
    height: 100px;
}

.totalSpendingTitle, .dailyAverageTitle, .doughnutChartTitle{
    color: #707070	;
}

.dailyAverageAmount{
    font-weight: bold;
    font-size: 20px;
    color: #00BFFF;
}

.totalSpendingAmount{
    font-size: 20px;
    font-weight: bold;
}

/* Chart styling */
.doughnutChart{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    margin-top: 10px;
    border: 2px solid #D8D8D8;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    height: 350px;
}

